<div class="outer">
    <div class="btnNewPlayer btn noselect" (click)="openNewPlayerDialog()">New Player</div>
    <button mat-flat-button color="warn" class="btnTabelle noselect" (click)="openTabelle()">{{this.btnTabelle}}</button>
    <div class="modus">
      <div class="btnSchweiz btn" (click)="clickBtnSwiss()">
        <span class="white stripever"></span>
        <span class="white stripehor"></span>
      </div>
        <div class="btnJederVsJeden btn noselect">1:1</div>
    </div>
</div>
